.button{
    background-color: skyblue;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    color:black;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    user-select: none;
}
.button:hover{
    background-color: lightblue;
}
