.container {
    padding: 10px;
    margin: 5px;
    border-style: solid;
    border-radius: 5px;
    background-color: darkcyan;
}

.text {
    text-align: left;
    font-size: medium;
    margin: 5px;
    overflow-wrap: break-word;
    border-bottom: solid;
}

.infos {
    text-align: right;
}

.info {
    display: inline-block;
    margin: 0px 5px;
    padding: 5px;
    border: groove;
    background-color: darkgray;
    border-radius: 10px;
}

.button_container {
    float: left;
}
