.title{
    margin: 5px;
}
.container{
    text-align: left;
}
.validation{
    background-color: crimson;
    border: solid;
    border-radius: 5px;
    padding: 5px;
    text-align: left;
}
.success{
    background-color: lightgreen;
    padding: 20px;
}
.textarea{
    overflow-y:scroll; 
    resize:none;
}