.search_bar {
    padding: 5px 10px;
    background-color: darkcyan;
    border-radius: 5px;
    border-style: solid;
    margin: 0% 50%;
    transform: translateX(-50%);
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}

.input {
    width: 400px;
}
